{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!-- Check if we have a valid tvshow ep 
             Displays all podcast ep metadata
        -->
        {% if tvshowep | length > 0 %}
            <h2 class="title"> {{tvshowep[0].tvshow_episode_title}} aired on {{tvshowep[0].air_date}} </h2>
            <br/>
            <h2 class="title"> Season {{tvshowep[0].season}}, Episode {{tvshowep[0].episode}} </h2>
            <br/>
            
            <h3> Artworks </h3>
            {% for instance in tvshowep %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" alt="image">
                    <br/>© Amazon Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br/>
                <!-- Webplayer -->
                <video controls id="tvshowep_player" preload = "auto">
                        <source src={{tvshowep[0].storage_location}} type="audio/ogg"/> -->
                        <source src={{tvshowep[0].storage_location}} type="audio/mp4"/> -->
                        <source src={{tvshowep[0].storage_location}} type="audio/webm"/> -->
                    Your browser does not support the video element.
                </video>
                <!-- Resume from last view -->
                {% if progress > 0 and progress != 100%}
                <form id="resume_button">
                    <input type="button" value="Resume" onclick="resume()">
                </form>
                {% endif %}

                <!-- Set the timestamp to previous play --
                  -- and hide button after time is set-->
                <script>
                    var myAudio = document.getElementById('tvshowep_player');
                    var playcount = 0;

                    myAudio.addEventListener("ended", function () {
                        playcount++;
                    }, true);
                    
                    //set the timestamp to last play
                    //and hide resume button after set
                    function resume() {
                        var audioLength = document.getElementById('tvshowep_player').duration;
                        var time = Math.round(({{progress}}*audioLength)/100);
                        myAudio.currentTime = time;
                        myAudio.play();
                        document.getElementById('resume_button').style.visibility = "hidden";
                    };

                    myAudio.onplaying = function () {
                        document.getElementById('resume_button').style.visibility = "hidden";
                    };

                    //save info when the window is closed
                    //window.onbeforeunload = function save() {
                    window.onbeforeunload = function save() {
                        var url = "/update_usermedia";
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST", url, true);
                        var media_id = '{{tvshowep[0].media_id}}';
                        xhr.setRequestHeader("Content-type","application/json");
                        var today = new Date();
                        var dd = String(today.getDate()).padStart(2, '0');
                        var mm = String(today.getMonth() + 1).padStart(2, '0');
                        var yyyy = today.getFullYear();
                        today = yyyy+'-'+mm+'-'+dd;
                        var audioLength = document.getElementById('tvshowep_player').duration;
                        var new_progress = (myAudio.currentTime/audioLength)*100;
                        var dict = JSON.stringify({
                            'playcount': playcount,
                            'progress': new_progress,
                            'date': today,
                            'media_id': media_id});
                        xhr.send(dict);
                    };
                </script>
            <h3> Descriptions </h3>
            {% for instance in tvshowep %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2 class="title"> Invalid TV Show Ep ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
